* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fe7dcf;
  color: white;
  /* height: 80px; */
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

/* .navbar-links, */
.ul-links {
  margin: 0;
  padding: 0;
  display: flex;
}

/* .navbar-links, */
li {
  list-style-type: none;
}

/* .navbar-links, */
li,
a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

li:hover {
  /* border-bottom: 4px #8465d6 solid; */
  background-color: #8465d6;
}

/* Hamburger toggle */

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 60px;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .toggle-button {
    display: flex;
    height: 25px;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .ul-links {
    width: 100%;
    flex-direction: column;
  }

  li {
    text-align: center;
    padding: 10px;
  }

  a {
    padding: 0px;
    height: 40px;
    font-size: 25px;
  }

  /* .navbar-links.active {
    display: flex;
  } */
}

/* Product component */

.product-main {
  margin-top: 50px;
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}

.product-card {
  margin: 1px;
  height: 280px;
  border: #fe7dcf solid;
  width: 180px;
}

.card-img {
  height: 70%;
  width: 100%;
}

.price {
  display: flex;
  color: black;
  margin: 0px;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.add-to-cart {
  display: flex;
  margin: auto;
  border: #fe7dcf solid 2px;
  background-color: white;
  height: 40px;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.add-to-cart:hover {
  background-color: #8465d6;
  color: white;
  border: none;
}

/* Cart component  */

.cart-main {
  height: 90vh;
  border: 2px #800080 solid;
  padding: 20px;
}

.section-headings {
  display: flex;
  width: 100%vw;
  justify-content: space-between;
}

.pqt-heading {
  display: flex;
  width: 30%;
  margin-right: 20px;
  justify-content: space-between;
}

.cart-heading {
  display: flex;
  justify-content: center;
}

.item-section {
  border-top: #fe7dcf solid 2px;
  border-bottom: #fe7dcf solid 2px;
  display: flex;
  justify-content: space-between;
}

.cart-img-name-remove {
  display: flex;
}

.cart-img {
  height: 100%;
  width: 20%;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.checkout-cs-btn {
  display: flex;
  float: right;
  width: 50%;
}

.item-name-remove {
  margin-left: 10px;
  margin-bottom: 10px;
}

.price-qty-total {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.cart-btn {
  border: #fe7dcf solid 2px;
  background-color: white;
  height: 40px;
  width: 50%;
  margin-right: 10px;
  margin-top: 10px;
}

.remove-btn {
  border: #fe7dcf solid 2px;
  background-color: white;
  height: 35px;
  width: 60%;
}

.product-name {
  margin-bottom: 5px;
}

/* Product Detail Component */

.pd-img {
  width: 55vw;
  height: 100vh;
}

.info-section {
  width: 70vw;
}

.pd-name {
  width: 50%;
  margin: 0;
  margin-bottom: 10px;
}

.pd-price {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.pd-btn {
  border: #fe7dcf solid 2px;
  background-color: white;
  height: 40px;
  width: 35%;
  margin-right: 10px;
  margin-top: 30px;
}
