* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  height: 80px;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

/* .navbar-links, */
.ul-links {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links,
li {
  list-style-type: none;
}

.navbar-links,
li,
a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

li:hover {
  background-color: #555;
}

/* Hamburger toggle */

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 60px;
}

.bar {
  height: 5px;
  width: 25px;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }

  .ul-links {
    display: none;
  }
}
